<div style="position: absolute; width: 100%; z-index: 200000; height: 100%; top: 0; left: 0; background-color: rgba(255,255,255,0.7);">
    <div id="floatingCirclesG">
        <div class="judo-loader-spinner"></div>
    </div>

    <div id="spinner-loader-text" class="spinner-loader-text"></div>

    <style>
        #floatingCirclesG {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100px;
            height: 100px;
            margin: auto;
        }
    </style>
</div>